{% extends 'base.html' %}

{% load static %}
{% block main %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="mb-5">
                    <table class="table mb-5">
                        <thead>
                            <tr>
                                <th>タイトル</th>
                                <th>日付</th>
                                <th>内容</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for thread in threads %}
                            <tr>
                                <td>{{ thread.title }}</td>
                                <td>{{ thread.updated|date:'Y/n/d' }}</td>
                                <td>{{ thread.description }}</td>
                                <td><a href="{% url 'board:thread_comment_list' thread.id %}" class="btn btn-primary btn-sm">確認する</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="py-3 text-center">
                        <a href="{% url 'board:thread_create' %}" class="btn btn-primary">スレッドを建てる</a>
                    </div>
                </div>
                <div class="mb-5">
                    {% include 'includes/parts/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}